.user {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    text-align: right;
    color: #FFFFFF;
    display: grid;
    gap:24px;
    grid-template-columns: min-content min-content;
}